In [1]:
import numpy as np
import pandas as pd
import glob

df = pd.read_csv("datasets/car.csv")
df = df.drop(columns=['Year','Model'])
df = df.head(30)

In [2]:
import numpy as np


df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = np.nan
df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = "Big"

df.loc[np.random.choice(df.index, size=5, replace=False), 'Doors'] = np.nan

C:\Users\marti\AppData\Local\Temp\ipykernel_8800\3779034627.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Big' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = "Big"

In [3]:
df.head(20)

,Brand,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,4.2,Diesel,Manual,289944,3.0,5,8501
1,Chevrolet,NaN,Hybrid,Automatic,5356,2.0,3,12092
2,Mercedes,NaN,Diesel,Automatic,231440,4.0,2,11171
3,Audi,Big,Electric,Manual,160971,2.0,1,11780
4,Volkswagen,2.6,Hybrid,Semi-Automatic,286618,3.0,3,2867
5,Toyota,2.7,Petrol,Automatic,157889,NaN,4,7242
6,Honda,3.4,Electric,Automatic,139584,3.0,1,11208
7,Kia,Big,Electric,Semi-Automatic,157495,2.0,2,7950
8,Kia,Big,Hybrid,Manual,98700,3.0,4,9926
9,Toyota,3.1,Petrol,Manual,107724,2.0,5,6545
10,BMW,1.3,Hybrid,Automatic,296824,2.0,3,5863
11,Volkswagen,Big,Hybrid,Manual,42795,4.0,3,11444
12,Honda,NaN,Hybrid,Automatic,132875,NaN,4,10842
13,Hyundai,NaN,Hybrid,Semi-Automatic,188996,2.0,1,4820
14,Volkswagen,2.4,Petrol,Automatic,145921,5.0,2,5981
15,Volkswagen,NaN,Diesel,Automatic,60103,2.0,1,9697
16,Hyundai,Big,Electric,Automatic,38133,NaN,2,14837
17,Volkswagen,Big,Electric,Manual,41161,NaN,2,11576
18,Kia,Big,Diesel,Semi-Automatic,257427,3.0,3,2351
19,Mercedes,1.5,Petrol,Manual,34640,2.0,1,11207

In [4]:
from model.eval.evaluation import _process_mixed_columns

df2, cat = _process_mixed_columns(df, {'Engine_Size': [np.nan, 'Big']})
df2

ValueError: too many values to unpack (expected 2)

In [ ]:
dfa = df[:len(df) // 2]
dfb = df[len(df) // 2:]

In [ ]:
from model.eval.evaluation import stat_sim2

summary, column_stats= stat_sim2(dfa,dfb,categorical=["Brand","Fuel_Type","Transmission"],mixed={"Engine_Size": ["Big"]})

column_stats

                    Column Metric  Distance    Weight
0                    Brand    JSD  0.264592  1.000000
1                Fuel_Type    JSD  0.232635  1.000000
2             Transmission    JSD  0.142139  1.000000
3                  Mileage     WD  0.245732  1.000000
4              Owner_Count     WD  0.066667  1.000000
5                    Price     WD  0.198988  1.000000
6  Engine_Size_categorical    JSD  0.133175  1.000000
7   Engine_Size_continuous     WD  0.110084  0.333333
8        Doors_categorical    JSD  0.076181  1.000000
9         Doors_continuous     WD  0.104701  0.866667